nav {
    width: max-content;
    display: block;
    position: fixed;
    top: 50%;
    right: 2%;
    gap: 1.8rem;
    border-radius: 0;
    justify-content: center;
}


nav button {
    background: rgb(101, 169, 97);;
    padding: 0.3rem;
    border-radius: 8px;
    display: flex;
    color:white;
    font-size: 2.5rem;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}



